<h1>Attach hooks</h1>

<%= form_tag :hooks do %>
  <label>
    Org
    <input name="org" value="revelrylabs" />
  </label>
  <label>
    Repo
    <input name="repo" />
  </label>

  <button>Hook 'em</button>
<% end %>
